<form {{action "save" on="submit"}}>
  <h2>{{errorMessage}}</h2>
  <fieldset>
    <legend>Editing {{model.fullName}}</legend>
    <label>First Name
      {{input value=model.firstName placeholder="First Name"}}
    </label>
    <label>Last Name
      {{input value=model.lastName  placeholder="Last Name"}}
    </label>
    <label>Email
      {{input value=model.email     placeholder="email"}}
    </label>
    <label>Twitter
      {{input value=model.twitter   placeholder="twitter"}}
    </label>
    <!--<input type="submit" value="Save" class="primary">-->
    <button class="small" {{action "save"}}>Save</button>
    <button class="small" {{action "cancel"}}>Cancel</button>
  </fieldset>

</form>