<p></p>
<ul class="vcard">
  <li class="fn">First name: {{model.firstName}}</li>
  <li class="fn">Last name: {{model.lastName}}</li>
  <li class="email">Email: {{model.email}}</li>
  <li>Twitter: {{model.twitter}}</li>
</ul>
<p>{{link-to 'Edit info' 'friends.edit' model}} </p>
<p><a href="#" {{action "delete" model}}>Delete</a></p>
<p>{{link-to 'Show all friends' 'friends'}}</p>
